<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='script/return-main.js')}}"></script>
    <title>Capstone Web</title>
  </head>
  <body>

    <!-- Header at the top of the screen -->
    <div class="header">Is This Monkeypox?</div>

    <!-- Paragraph positioned between header and upload container -->
    <p class="description">The results for the image upload is:</p>
    <h3>{{result}} with a {{probability}}% of it being true.</h3>

    <!-- Return to main page button -->
    <button class="button" id="returnButton">Return to home screen</button>


  </body>
</html>