<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='script/return-main.js')}}"></script>
    <title>Capstone Web</title>
  </head>
  <body>

    <div class="container">

      <!-- Header at the top of the screen -->
      <div class="header">Is This Monkeypox?</div>

      <!-- Paragraph positioned between header and upload container -->
      <p class="description">The results for the image uploaded using the {{modelName}} model is:</p>

      <!-- Display the uploaded image -->
      <div class="upload-container">
        <img class="preview-img" src="{{ url_for('static', filename='uploads/uploaded_image.png') }}" alt="Uploaded Image">
      </div>

      <h3 class="description">{{result}} with a {{probability}}% of it being true.</h3>

      <!-- Return to main page button -->
      <button class="button" id="returnButton">Return to home screen</button>

    </div>
  </body>
</html>